* {
    box-sizing: border-box;

}

body {
    all: unset;
    font-family: Verdana, Courier;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

/* General styles */

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.container {
    width: 1062px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER STYLES */

.top {
    margin-bottom: 45px;
}

.top-logo {
    float: left;
    padding-top: 49px;
}

.top-logo-link {
    font-family: Verdana, Courier;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    /*position: relative;*/
    padding-left: 88px;
    background-image: url(../img/logo.png);
    background-size: auto 88%;
    background-position-y: 3px;
    background-repeat: no-repeat;
    transition: 0.3s ease-in;
}

.top-logo-link:hover{
    color: #f26522;
    background-image: none;
    background-image: url(../img/logo-hover.png);
    /*position: relative;*/
    background-size: auto 88%;
    background-position-y: 3px;
    background-repeat: no-repeat;

}

.top-logo-Milan {
    display: block;
    font-size: 29px;
}

.top-contact {
    padding-top: 57px;
    display: inline-block;
    text-align: right;
    float: right;
}
.top-contact>a {
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Courier;
    color: #ffffff;
}

/* GALLERY (MIDDLE) STYLES */

.gallery-offer {
    display: inline-block;
    width: 308px;
    margin-bottom: 61px;
}

.gallery-offer:nth-child(1), .gallery-offer:nth-child(2),
.gallery-offer:nth-child(4), .gallery-offer:nth-child(5) {
    margin-right: 62px;
}

.gallery-offer:nth-child(1),
.gallery-offer:nth-child(2), .gallery-offer:nth-child(3) {
    margin-bottom: 55px;
}

.gallery-offer-img{
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
}

.gallery-offer-img-file {
    border: 1px solid white;
}

/* HOVER FOR GALLERY */

.gallery-offer:hover div{
    display: block;
}

.gallery-offer:hover a.gallery-offer-name{
    color: #f26522;
}



/*---------------------------------------------*/

.gallery-offer-name {
    display: block;
    text-align: center;
}

.gallery-offer-hidden {
    display: none;
    position: absolute;
    /*line-height: 63px;*/
    top: 139px;
    width: 100%;
    height: 63px;
    background-color: #f26522;
}

.gallery-offer-cover {
    display: inline-block;
    padding: 9px 0 0 21px;
    width: 38px;
    float: left;
}

.gallery-offer-from {
    font-size: 10px;
    margin-bottom: 7px;
}

.gallery-offer-price {
    font-size: 20px;
    margin-top: 7px;
}

.gallery-offer-details {
    font-size: 14px;
    float: right;
    padding: 35px 40px 0 0;
    position: relative;
}

.gallery-offer-details::after {
    content: '\FF1E';
    color: #f9b291;
    font-size: 13px;
    position: absolute;
    right: 18px;
}

.copy {
    font-size: 12px;
    font-family: Verdana, Courier;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}