*{
    box-sizing: border-box;
    margin: 0;
}

.cards-cover {
    width: 90%;
    min-height: 80px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card {
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: fit-content;
    margin-bottom: 13px;
    /* height: 30px; */
}

.cardContent {
    width: 90%;
    height: fit-content;
    min-height: 15px;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 2% 5%;
    margin: 0;
}

.cardContent:focus {
    color: red;
}

.column {
    width: 90%;
    min-width: 300px;
    height: fit-content;
    min-height: 100px;
    background-color: grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 5px;
    margin: 0 10px;
    margin-bottom: 10px;
}

.column-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.column-title {
    outline: none;
    width: 70px;
}

.sort-btn {
    /* position: absolute;
    top: 7px;
    right: 5px; */
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: black;
    outline: none;
    cursor: pointer;
    /* align-self: flex-end; */
    margin-bottom: 10px;
}

.create-card-btn {
    /* position: absolute;
    bottom: 5px;
    left: 5%; */
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: black;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
}

.board {
    width: fit-content;
    min-width: 320px;
    height: fit-content;
    min-height: 568px;
    border-radius: 5px;
}

.boardHeader {
    height: 40px;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.boardBody {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    height: fit-content;
    min-height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 768px){
    .boardBody {
        flex-direction: column;
    }
}