.firstButton {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: red;
}

.secondButton {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: green;   
}