.modalBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #9e9e9e75;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin modalHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.firstModalHeader {
    @include modalHeader;
    background-color: darkred;
}

.secondModalHeader {
    @include modalHeader;
    background-color: darkgreen;
}

@mixin modalBody {
    width: "50%";
    min-height: fit-content;
    height: 200px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.firstModalBody {
    @include modalBody;
    background-color: red;
}

.secondModalBody {
    @include modalBody;
    background-color: green;
}