.menu-section-element {
    width: 100%;
    display: flex;
    margin-bottom: 1px;

    .section-background {
        width: 77.8vw;
        height: 23.4vw;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .section-background-title {
            font-size: 20px;
            font-weight: 700;
            font-family: 'Lato', sans-serif, system-ui;
            color: $fontColor1;
        }
    }

    .background-1 {
        background-image: url('../img/background1.jpeg');
        background-position: bottom;
    }

    .background-2 {
        background-image: url('../img/background2.jpeg');
        background-position: 60%;
    }

    .background-3 {
        background-image: url('../img/background3.jpeg');
    }

    .menu-section-element__section-arrow {
        width: 22.2vw;
        height: 23.4vw;
        background-color: $bgcolor2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 640px) {
    .menu-section-element {
        .section-background {
            .section-background-title {
                font-size: 36px;
            }
        }

        .menu-section-element__section-arrow {
            font-size: 36px;
        }
    }
}

@media (min-width: 980px) {
    .menu-sections {
        display: flex;
    }

    .menu-section-element {

        .section-background {
            width: calc(100vw/3);
            height: calc(100vw/3);

            .section-background-title {
                font-size: 38px;
            }
        }

        .menu-section-element__section-arrow {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .menu-section-element {
        .section-background-title {
            font-size: 43px;
        }
    }
}